In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
risk = pd.read_csv("/Users/jeffreyj/Downloads/brfss.csv")

In [32]:
risk["CHECKUP1"].value_counts()

Within past year (anytime less than 12 months ago)         215875
Within past 2 years (1 year but less than 2 years ago)      24212
Within past 5 years (2 years but less than 5 years ago)     11880
5 or more years ago                                          9325
Never                                                         757
Name: CHECKUP1, dtype: int64

In [55]:
risk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262049 entries, 0 to 262048
Data columns (total 40 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   GENHLTH   262049 non-null  object
 1   HLTHPLN1  262049 non-null  object
 2   PERSDOC2  262049 non-null  object
 3   MEDCOST   262049 non-null  object
 4   CHECKUP1  262049 non-null  object
 5   _RFHYPE5  262049 non-null  object
 6   TOLDHI2   262049 non-null  object
 7   CVDINFR4  262049 non-null  object
 8   CVDCRHD4  262049 non-null  object
 9   CVDSTRK3  262049 non-null  object
 10  ASTHMA3   262049 non-null  object
 11  CHCSCNCR  262049 non-null  object
 12  CHCOCNCR  262049 non-null  object
 13  CHCCOPD2  262049 non-null  object
 14  ADDEPEV3  262049 non-null  object
 15  CHCKDNY2  262049 non-null  object
 16  DIABETE4  262049 non-null  object
 17  HAVARTH4  262049 non-null  object
 18  MARITAL   262049 non-null  object
 19  EDUCA     262049 non-null  object
 20  RENTHOM1  262049 non-null  object
 21  VETERAN3  262049 non-null  object
 22  EMPLOY1   262049 non-null  object
 23  INCOME2   262049 non-null  object
 24  DEAF      262049 non-null  object
 25  BLIND     262049 non-null  object
 26  DECIDE    262049 non-null  object
 27  DIFFWALK  262049 non-null  object
 28  DIFFDRES  262049 non-null  object
 29  DIFFALON  262049 non-null  object
 30  EXERANY2  262049 non-null  object
 31  _METSTAT  262049 non-null  object
 32  _URBSTAT  262049 non-null  object
 33  _IMPRACE  262049 non-null  object
 34  _RFBMI5   262049 non-null  object
 35  _RFSMOK3  262049 non-null  object
 36  _RFBING5  262049 non-null  object
 37  _RFDRHV7  262049 non-null  object
 38  _TOTINDA  262049 non-null  object
 39  target    262049 non-null  bool
dtypes: bool(1), object(39)
memory usage: 78.2+ MB

In [34]:
risk.head(2)

,GENHLTH,HLTHPLN1,PERSDOC2,MEDCOST,CHECKUP1,_RFHYPE5,TOLDHI2,CVDINFR4,CVDCRHD4,CVDSTRK3,...,EXERANY2,_METSTAT,_URBSTAT,_IMPRACE,_RFBMI5,_RFSMOK3,_RFBING5,_RFDRHV7,_TOTINDA,target
0,Good,Yes,"Yes, only one",No,Within past year (anytime less than 12 months ...,Yes,Yes,No,No,No,...,No,"Metropolitan counties (_URBNRRL = 1,2,3,4)","Urban counties (_URBNRRL = 1,2,3,4,5)","Black, Non-Hispanic",Yes,No,No,No,No physical activity or exercise in last 30 days,True
1,Fair,Yes,"Yes, only one",No,Within past year (anytime less than 12 months ...,No,No,No,No,No,...,Yes,"Metropolitan counties (_URBNRRL = 1,2,3,4)","Urban counties (_URBNRRL = 1,2,3,4,5)","White, Non-Hispanic",No,No,No,No,Had physical activity or exercise,True

In [35]:
risk["CHECKUP1"]

0         Within past year (anytime less than 12 months ...
1         Within past year (anytime less than 12 months ...
2         Within past year (anytime less than 12 months ...
3         Within past year (anytime less than 12 months ...
4         Within past year (anytime less than 12 months ...
                                ...
262044    Within past year (anytime less than 12 months ...
262045    Within past year (anytime less than 12 months ...
262046    Within past year (anytime less than 12 months ...
262047    Within past year (anytime less than 12 months ...
262048    Within past year (anytime less than 12 months ...
Name: CHECKUP1, Length: 262049, dtype: object

In [24]:
risk.drop(columns="CHECKUP1",axis=1,inplace=True)

In [36]:
pd.crosstab(risk["target"],risk["CHECKUP1"],normalize=True)

CHECKUP1,5 or more years ago,Never,Within past 2 years (1 year but less than 2 years ago),Within past 5 years (2 years but less than 5 years ago),Within past year (anytime less than 12 months ago)
target,,,,,
False,0.035585,0.002889,0.092395,0.045335,0.000000
True,0.000000,0.000000,0.000000,0.000000,0.823796

In [58]:
categorical_variables = ['GENHLTH', 'HLTHPLN1', 'PERSDOC2', 'MEDCOST', '_RFHYPE5', 'TOLDHI2', 'CVDINFR4', 'CVDSTRK3', 'ASTHMA3', 'CHCSCNCR', 'CHCOCNCR', 'CHCCOPD2']
risk_df = pd.get_dummies(risk, columns = categorical_variables)

In [59]:
X=risk[["_RFHYPE5"]]
Y=risk["target"]

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y,
                                                    stratify = Y,     # Keep the same proportions of the target in the training and test data
                                                    test_size = 0.25,
                                                    random_state = 321)

In [62]:
from sklearn.linear_model import LogisticRegression

In [63]:
logreg = LogisticRegression()         # Create a logistic regression model
logreg.fit(X_train, Y_train)          # Fit it to the training data

ValueError: could not convert string to float: 'No'

In [64]:
logreg.intercept_

AttributeError: 'LogisticRegression' object has no attribute 'intercept_'

In [44]:
logreg.coef_

AttributeError: 'LogisticRegression' object has no attribute 'coef_'